
@{
    Layout = null;
}

<!doctype html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><html lang="en" class="no-js"> <![endif]-->
<html lang="en">

<head>

    <!-- Basic -->
    <title>OnRoadHelp | Home</title>

    <!-- Define Charset -->
    <meta charset="utf-8">

    <!-- Responsive Metatag -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   
    <!-- Page Description and Author -->
    <meta name="description" content="Sulfur - Responsive HTML5 Template">
    <meta name="author" content="Shahriyar Ahmed">

    <!-- Bootstrap CSS  -->
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css" type="text/css">

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="~/font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="~/css/owl.carousel.css" type="text/css">
    <link rel="stylesheet" href="~/css/owl.theme.css" type="text/css">
    <link rel="stylesheet" href="~/css/owl.transitions.css" type="text/css">

    <!-- Css3 Transitions Styles  -->
    <link rel="stylesheet" type="text/css" href="~/css/animate.css">

    <!-- Lightbox CSS -->
    <link rel="stylesheet" type="text/css" href="~/css/lightbox.css">

    <!-- Sulfur CSS Styles  -->
    <link rel="stylesheet" type="text/css" href="~/css/style.css">

    <!-- Responsive CSS Style -->
    <link rel="stylesheet" type="text/css" href="~/css/responsive.css">


    <script src="~/js/modernizrr.js"></script>


</head>

<body>

    <header class="clearfix">



        <!-- Start  Logo & Naviagtion  -->
        <div class="navbar navbar-default navbar-top">
            <div class="container">
                <div class="navbar-header">
                    <!-- Stat Toggle Nav Link For Mobiles -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                    <!-- End Toggle Nav Link For Mobiles -->
                    <a class="navbar-brand" href="index.html">OnRoadHelp</a>
                </div>
                <div class="navbar-collapse collapse">

                    <!-- Start Navigation List -->
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a class="active" href="index.html">Home</a>
                        </li>
                        <li>
                            <a href="#about-section">About Us</a>
                        </li>
                        <li>
                            <a href="#service-section">Service</a>
                        </li>

                        <li>
                            <a href="/Home/ContactUs">Contact</a>
                        </li>
                        <li>
                            <div class="btn btn-primary" style="margin-top: 12px; border-radius: 10px;">
                                <a href="/Home/Userlogin" style="color:black">Login</a>
                            </div>

                        </li>
                    </ul>
                    <!-- End Navigation List -->
                </div>
            </div>
        </div>
        <!-- End Header Logo & Naviagtion -->

    </header>


    <!-- Start Header Section -->
    <div class="banner">
        <div class="overlay">
            <div class="container">
                <div class="intro-text">
                    <h1>Welcome To The <span>OnRoadHelp</span></h1>
                    <p>24/7 ON-DEMAND TOWING AND<br>ROADSIDE ASSISTANCE</p>
                    <a href="/Home/Usersignup" class="page-scroll btn btn-primary">Join Us</a>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header Section -->
    <!-- Start About Us Section -->
    <section id="about-section" class="about-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center wow fadeInDown" data-wow-duration="2s" data-wow-delay="50ms">
                        <h2>About Us</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="about-img">
                        <img src="~/images/main2.jpg" class="img-responsive" alt="About images">
                        <div class="head-text">
                            <p>Road Rescuers are capable of towing everything from motorcycles to semi-trucks. The safety of your vehicle is of utmost importance to us, so our Rescuers take every precaution.</p>
                            <span>CEO, Sajjad Hussain</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="about-text">
                        <p> Road Rescuers was developed with one simple goal in mind, to minimize the wait time for roadside assistance and auto services, allowing you to get on demand auto assistance as quickly as possible.</p>
                        <p> Flat tire, dead battery, car breakdown, broken windshield, or dirty vehicle!!! Road Rescuers will be there with the push of a button on your smart device! No more calling all over town to get assistance, no more waiting hours for a tow truck, Road Rescuers will be there to save you from your car troubles! Road Rescuers will definitely remove all of your anxiety when it comes to car breakdowns, you can count on us in your time of need!</p>

                    </div>

                    <div class="about-list">
                        <h4>Some important Feature</h4>
                        <ul>
                            <li><i class="fa fa-check-square"></i>App Technology can locate the nearest provider, decreasing your wait time.</li>
                            <li><i class="fa fa-check-square"></i>No more calling several roadside providers or utilizing google search.</li>
                            <li><i class="fa fa-check-square"></i>Can view provider ratings.</li>
                            <li><i class="fa fa-check-square"></i>Transparent pricing on services.</li>
                            <li><i class="fa fa-check-square"></i>Can share location with Providers or emergency contacts in an instant.</li>
                            <li><i class="fa fa-check-square"></i>Cashless payment availability.</li>
                        </ul>

                        <h4>More Feature</h4>
                        <ul>
                            <li><i class="fa fa-check-square"></i>Easy Login with Social Media account.</li>
                            <li><i class="fa fa-check-square"></i>On Demand Services as well as scheduled.</li>
                            <li><i class="fa fa-check-square"></i>Easy insurance reimbursement for towing. Send email directly to insurance</li>
                            <li><i class="fa fa-check-square"></i>Pay when you need it, no useless membership costs.</li>
                        </ul>
                    </div>

                </div>



            </div>
        </div>
    </section>


    <!-- Start Call to Action Section -->
    <section class="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-md-12 wow zoomIn" data-wow-duration="2s" data-wow-delay="300ms">
                    <p>ON DEMAND 24/7 ROADSIDE ASSISTANCE No matter the time, day or night, we're here for you. Whether you've run out of gas, had an accident, or need towing services, let us come get you going fast. And, if it can't be fixed on site, we'll tow you in and help get you on your way.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- End Call to Action Section -->
    <!-- Start Service Section -->
    <section id="service-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center wow fadeInDown" data-wow-duration="2s" data-wow-delay="50ms">
                        <h2>Our Services</h2>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="services-post">
                        <a href="#"><i class="fa fa-skyatlas"></i></a>
                        <h2>Towing</h2>
                        <p>Donec odio. Quisque volutpat mattis eros. Nullam malesuada </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="services-post">
                        <a href="#"><i class="fa fa-magic"></i></a>
                        <h2>Road Assistance</h2>
                        <p>Donec odio. Quisque volutpat mattis eros. Nullam malesuada </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="services-post">
                        <a href="#"><i class="fa fa-gift"></i></a>
                        <h2>Flat Tire</h2>
                        <p>Donec odio. Quisque volutpat mattis eros. Nullam malesuada </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="services-post">
                        <a href="#"><i class="fa fa-diamond"></i></a>
                        <h2>Jump Start</h2>
                        <p>Donec odio. Quisque volutpat mattis eros. Nullam malesuada </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="services-post">
                        <a href="#"><i class="fa fa-wordpress"></i></a>
                        <h2>Out Of Fuel</h2>
                        <p>Donec odio. Quisque volutpat mattis eros. Nullam malesuada </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="services-post">
                        <a href="#"><i class="fa fa-forumbee"></i></a>
                        <h2>Looked Out</h2>
                        <p>Donec odio. Quisque volutpat mattis eros. Nullam malesuada </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="services-post">
                        <a href="#"><i class="fa fa-bicycle"></i></a>
                        <h2>Mechanical Problem</h2>
                        <p>Donec odio. Quisque volutpat mattis eros. Nullam malesuada </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="services-post">
                        <a href="#"><i class="fa fa-foursquare"></i></a>
                        <h2>Food Item</h2>
                        <p>Donec odio. Quisque volutpat mattis eros. Nullam malesuada </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Start Service Section -->
    <!-- Start Footer Section -->
    <section id="footer-section" class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="section-heading-2">
                        <h3 class="section-title">
                            <span>ONROADHELP</span>
                        </h3>
                    </div>

                    <div class="latest-tweet">
                        <div class="media">

                            <div class="media-body">

                                <p>Road Rescuers was developed with one simple goal in mind, to minimize the wait time for roadside assistance and auto services, allowing you to get on demand auto assistance as quickly as possible. Flat tire, dead battery, car breakdown, broken windshield, or dirty vehicle!!!</p>
                            </div>
                        </div>
                    </div>
                </div><!--/.col-md-3 -->

                <div class="col-md-3">
                    <div class="section-heading-2">
                        <h3 class="section-title">
                            <span>Office Address</span>
                        </h3>
                    </div>

                    <div class="footer-address">
                        <ul>
                            <li class="footer-contact"><i class="fa fa-home"></i>6th road, Sattellite Town, Rawalpindi</li>
                            <li class="footer-contact"><i class="fa fa-envelope"></i><a href="#">sajjad@gmail.com</a></li>
                            <li class="footer-contact"><i class="fa fa-phone"></i>+92 3588485848</li>
                            <li class="footer-contact"><i class="fa fa-globe"></i><a href="#" target="_blank">www.onroadhelp.com</a></li>
                        </ul>
                    </div>
                </div><!--/.col-md-3 -->




            </div><!--/.row -->
        </div><!-- /.container -->
    </section>
    <!-- End Footer Section -->
    <!-- Start CCopyright Section -->
    <div id="copyright-section" class="copyright-section">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="copyright">
                        Copyright © 2022. All Rights Reserved.Design and Developed by <a href="">ONROADHELP</a>
                    </div>
                </div>

                <div class="col-md-5">
                    <div class="copyright-menu pull-right">
                        <ul>
                            <li><a href="#" class="active">Home</a></li>

                        </ul>
                    </div>
                </div>
            </div><!--/.row -->
        </div><!-- /.container -->
    </div>
    <!-- End CCopyright Section -->
    <!-- Sulfur JS File -->
    <script src="~/js/jquery-2.1.3.min.js"></script>
    <script src="~/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.appear.js"></script>
    <script src="~/js/jquery.fitvids.js"></script>
    <script src="~/js/jquery.nicescroll.min.js"></script>
    <script src="~/js/lightbox.min.js"></script>
    <script src="~/js/count-to.js"></script>
    <script src="~/js/styleswitcher.js"></script>

    <script src="~/js/map.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="~/js/script.js"></script>


</body>
</html>