
@{
    ViewBag.Title = "reqHelpuser";
    Layout = "~/Views/Shared/UserDashboardShared.cshtml";
}

<div>
    <h1 style="text-align :center"> Welcome to ON Road Help </h1><br>
</div>

<div style="text-align:center;">
    <a href="/Home/usermap?type=Mechanical Issue" style="margin-bottom:10px; width:230px;" <button type="submit" class="btn btn-primary fa-lg">Mechanical Issue</button><br><br></a><br>
    <a href="/Home/usermap?type=First Aid" style="margin-bottom:10px;  width:230px;" <button type="submit" class="btn btn-primary fa-lg">First Aid</button><br><br></a><br>
    <a href="/Home/usermap?type=Food Item" style="margin-bottom:10px;width:230px;" <button type="submit" class="btn btn-primary fa-lg">Food Item</button><br><br></a><br>
    <a href="/Home/usermap?type=Fuel Shortage" style="margin-bottom:10px; width:230px;" <button type="submit" class="btn btn-primary fa-lg">Fuel Shortage</button><br><br></a><br>
    @*<a href="/Home/usermap?type=Fire Birgate" style="margin-bottom:10px; width:230px;" <button type="submit" class="btn btn-primary fa-lg"<!-->Fire Birgate</button><br><br></a><br>-->

</div>




@*Drop Down LIst its ok
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">

            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="/Home/usermap">Mechanical Issue</a></li>
            <li><a href="/Home/usermap">First Aid</a></li>
            <li><a href="/Home/usermap">Food Item</a></li>
            <li><a href="/Home/usermap">Tyre Puncture</a></li>
            <li><a href="/Home/usermap">Fire Birgate</a></li>
        </ul>
    </div>*@




         @*Drop Down List*@
@*<div style="text-align:center;">
    <button type="submit" class="btn btn-primary mb-">Add Service</button>

</div>
                </div>
--------------------
<div class="dropdown" style="margin-left:42%">
    <button class="btn btn-primary  btn-lg dropdown-toggle" type="button" data-toggle="dropdown">
        Help Request
        <span class="caret"></span>
    </button>

    <ul class="dropdown-menu">
        <li><a href="/Home/usermap">Mechincal issue </a></li>
        <li><a href="/Home/usermap">First  Aid</a></li>
        <li><a href="/Home/usermap">tyre puncture</a></li>
        <li><a href="/Home/usermap">Food Item </a></li>
        <li><a href="/Home/usermap">E</a></li>
    </ul>


</div>*@

