@{
    Layout = null;
}

<!DOCTYPE html>
<html class="no-js" lang="">
<head>
    <!-- meta charset -->
    <meta charset="utf-8">
    <!-- site title -->
    <title>User Login</title>
    <!-- meta description -->
    <meta name="description" content="">
    <!-- mobile viwport meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- fevicon -->
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">

    <!-- ================================
    CSS Files
    ================================= -->
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i|Open+Sans:400,600,700,800" rel="stylesheet">
    <link rel="stylesheet" href="~/light/css/themefisher-fonts.min.css">
    <link rel="stylesheet" href="~/light/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/light/css/main.css">
    <link rel="stylesheet" href="~/light/css/style.css">
    <link id="color-changer" rel="stylesheet" href="~/light/css/colors/color-0.css">


</head>

<body>

    <div class="preloader">
        <div class="loading-mask"></div>
        <div class="loading-mask"></div>
        <div class="loading-mask"></div>
        <div class="loading-mask"></div>
        <div class="loading-mask"></div>
    </div>




    <main class="site-wrapper">
        <div class="pt-table">
            <div class="pt-tablecell page-about relative">
                <!-- .close -->
                <a href="./" class="page-close"><i class="tf-ion-close"></i></a>
                <!-- /.close -->

                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
                            <div class="page-title text-center">
                                <h2>
                                    <span class="title-bg"></span>
                                    ON ROAD <span class="primary">HELP</span> </span>
                                </h2>

                            </div>
                        </div>

                        <div class="wrapper fadeInDown" >
                            <div id="formContent">
                                <!-- Tabs Titles -->
                                <!-- Icon -->
                                <div class="fadeIn first">
                                    <b>Forget Password</b>
                                </div>

                                <!-- Login Form -->
                                <form>
                                    <input type="text" id="login" class="fadeIn second" name="Email" placeholder="Email">
                                   
                                    
                                    <input type="text" id="password" class="fadeIn third" name="resetPassword" placeholder="Reset Password">
                                    <input type="text" id="password" class="fadeIn third" name="Confirm Password" placeholder="Confirm Password">
                                    <input type="submit" class="fadeIn fourth"  value="Save">
                                </form>

                                <!-- Remind Passowrd -->
                             

                            </div>
                        </div>

                        <nav class="page-nav clear">
                            <div class="container">
                                <div class="flex flex-middle space-between">

                                    <span class="copyright hidden-xs">Copyright &copy; 2022 Sajjad Hussain, All Rights Reserved.</span>

                                </div>
                            </div>
                            <!-- /.page-nav -->
                        </nav>
                        <!-- /.container -->
                    </div> <!-- /.pt-tablecell -->
                </div> <!-- /.pt-table -->
    </main> <!-- /.site-wrapper -->
    <!-- ================================
    JavaScript Libraries
    ================================= -->
    <script src="~/light/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="~/light/js/vendor/bootstrap.min.js"></script>
    <script src="~/light/js/jquery.easing.min.js"></script>
    <script src="~/light/js/isotope.pkgd.min.js"></script>
    <script src="~/light/js/jquery.nicescroll.min.js"></script>
    <script src="~/light/js/owl.carousel.min.js"></script>
    <script src="~/light/js/jquery-validation.min.js"></script>
    <script src="~/light/js/main.js"></script>
</body>
</html>