@*Search code
    @{
        ViewBag.Title = "practise";
        Layout = "~/Views/Shared/Admin_Dashboard_SharedView.cshtml";
    }

    <!DOCTYPE html>
    <html>
    <head>
        <title>Awesome Search Box</title>
    </head>
      <body>
        <div class="container h-100">
          <div class="d-flex justify-content-center h-100">
            <div class="searchbar">
              <input class="search_input" type="text" name="" placeholder="Search...">

              <a href="#" class="search_icon"><i class="fas fa-search-plus"></i></a>
            </div>
          </div>
        </div>
      </body>
    </html>*@




   @*/////// check box   List //*@
@*<!DOCTYPE html>
<html>
<body>

    <h1>Show Checkboxes</h1>

    <form action="/action_page.php">
        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
        <label for="vehicle1"> I have a bike</label><br>
        <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
        <label for="vehicle2"> I have a car</label><br>
        <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
        <label for="vehicle3"> I have a boat</label><br><br>
        <input type="submit" value="Submit">
    </form>

</body>
</html>*@








