
<!doctype html>
<html lang="en">

<head>
    <title>ON ROAD HELP</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="~/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/vendor/linearicons/style.css">
    <link rel="stylesheet" href="~/assets/vendor/chartist/css/chartist-custom.css">

    <link href="~/assets/vendor/bootstrap/css/style.css" rel="stylesheet" />

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/assets/css/main.css">
    <!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
    <link rel="stylesheet" href="~/assets/css/demo.css">
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" href="~/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/assets/img/favicon.png">
</head>

<body>

    <!-- WRAPPER -->
    <div id="wrapper">
        <!-- NAVBAR -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="brand">
                <a href="index.html"><b>ON ROAD HELP</b></a>
            </div>
            <div class="container-fluid">
                <div class="navbar-btn">
                    <button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
                </div>
                <div id="navbar-menu">
                    <ul class="nav navbar-nav navbar-right">


                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="~/assets/img/user.png" class="img-circle" alt="Avatar"> <span>@Session["FName"]</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="/Home/userprofile"><i class="lnr lnr-user"></i> <span>My Profile</span></a></li>
                                <li><a href="#"><i class="lnr lnr-envelope"></i> <span>Message</span></a></li>
                                <li><a href="#"><i class="lnr lnr-cog"></i> <span>Settings</span></a></li>
                                <li><a href="/Home/userlogin"><i class="lnr lnr-exit"></i> <span>Logout</span></a></li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>

        <!-- END NAVBAR -->
        <!-- LEFT SIDEBAR -->
        <div id="sidebar-nav" class="sidebar">
            <div class="sidebar-scroll">
                <nav>
                    <ul class="nav">
                        <li><a href="/Home/userprofile" class="active"><i class="lnr lnr-home"></i> <span>Profile</span></a></li>

                        @*// Drop Down list //*@
                        @*<li>
                            <a href="#responder" data-toggle="collapse" class="collapsed"><i class="lnr lnr-chevron-down-circle"></i> <span>Approve Responder</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
                            <div id="responder" class="collapse ">
                                <ul class="nav">
                                    <li><a href="page-profile.html" class="">Approve Responder</a></li>
                                    <li><a href="page-login.html" class="">Pending Responder</a></li>
                                    <li><a href="page-login.html" class="">Reject Responder</a></li>

                                </ul>
                            </div>
                        </li>*@

                        <li>
                            <a href="/Admin/displayalluser"><i class="lnr lnr-history"></i> <span> User List</span></a>


                        </li>

                        <li>
                            <a href="/Admin/displayallresponder"><i class="lnr lnr-history"></i> <span> Responder List</span></a>


                        </li>
                        <li>
                            <a href="#history" data-toggle="collapse" class="collapsed"><i class="lnr lnr-file-add"></i> <span>History</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
                            <div id="history" class="collapse ">
                                <ul class="nav">
                                    <li><a href="page-profile.html" class="">User History </a></li>
                                    <li><a href="page-login.html" class="">Responder History</a></li>


                                </ul>
                            </div>
                        </li>


                        <li><a href="/Home/userlogin" class=""><i class="lnr lnr-linearicons"></i> <span>Sign Out</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- END LEFT SIDEBAR -->
        <!-- MAIN -->
        <div class="main">
            <div class="main-content">
                <div class="container-fluid">

                    @*Here we can perform the changes the main page*@

                    @RenderBody()
                   

                    <!-- END MAIN -->
                    <div class="clearfix">

                    </div>

                    <footer>
                        <div class="container-fluid">
                            <p class="copyright">&copy; 2017 <a href="~/https://www.themeineed.com" target="_blank">Theme I Need</a>. All Rights Reserved.</p>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </div>

    <!-- END WRAPPER -->
    <!-- Javascript -->
    <script src="~/assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
    <script src="~/assets/vendor/chartist/js/chartist.min.js"></script>
    <script src="~/assets/scripts/klorofil-common.js"></script>



</body>

</html>
