
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>button</title>
</head>
<body>
    <div>

      <a href="/Responder/DisplayResponderhistory">  <input type="submit"  value="Complete Service" class="btn-primary"></a>
    </div>
</body>
</html>
